<?xml version="1.0"?>
<launch>
    <!-- Launch config, loading configuration file -->
    <arg name="player_name" default="green1"/>

    <node name="rviz" pkg="rviz" type="rviz"
             args="--display-config $(find p_g11_bringup)/config/visualize_green1.rviz" required="false"/>


</launch>





