<launch>

    <arg name="driver_file" default="camera.py"/>

      <node pkg="p_g11_core" type="$(arg driver_file)" name="green1" output="screen">
          <remap from="/cmd_vel" to="/green1/cmd_vel"/>
      </node>

      <node pkg="p_g11_core" type="$(arg driver_file)" name="green2" output="screen">
          <remap from="/cmd_vel" to="/green2/cmd_vel"/>
      </node>

      <node pkg="p_g11_core" type="$(arg driver_file)" name="green3" output="screen">
          <remap from="/cmd_vel" to="/green3/cmd_vel"/>
      </node>

      <node pkg="p_g11_core" type="$(arg driver_file)" name="red1" output="screen">
          <remap from="/cmd_vel" to="/red1/cmd_vel"/>
      </node>

      <node pkg="p_g11_core" type="$(arg driver_file)" name="red2" output="screen">
          <remap from="/cmd_vel" to="/red2/cmd_vel"/>
      </node>

      <node pkg="p_g11_core" type="$(arg driver_file)" name="red3" output="screen">
          <remap from="/cmd_vel" to="/red3/cmd_vel"/>
      </node>

      <node pkg="p_g11_core" type="$(arg driver_file)" name="blue1" output="screen">
          <remap from="/cmd_vel" to="/blue1/cmd_vel"/>
      </node>

      <node pkg="p_g11_core" type="$(arg driver_file)" name="blue2" output="screen">
          <remap from="/cmd_vel" to="/blue2/cmd_vel"/>
      </node>

      <node pkg="p_g11_core" type="$(arg driver_file)" name="blue3" output="screen">
          <remap from="/cmd_vel" to="/blue3/cmd_vel"/>
      </node>

</launch>